---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ujjwal">
  <main>
    <div>
      <div class="image-container">
        <img
          src="https://plus.unsplash.com/premium_photo-1673264933445-0112f3cdcb2f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80"
          alt="profile-image"
        />
        <p>Hey, I am Ujjwal</p>
      </div>
      <h1>Front-end developer with 1+ <span>years of experience</span></h1>
      <a href="/about">More about me</a>
    </div>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    min-height: 100vh;
    background: var(--bg-primary);
    padding: 0px 20%;
    display: flex;
    align-items: center;
    justify-items: center;
  }

  main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    color: var(--text-primary);
    font-family: "Newsreader", serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-size: 64px;
    padding-top: 50px;
    background: linear-gradient(90deg, #82ce95 31.28%, #3c5f44 54.8%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  span {
    background: linear-gradient(90.01deg, #3c5f44 40.78%, #82ce95 63.18%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 16px solid #82ce95;
  }

  p {
    color: var(--text-primary);
    font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 24px;
    padding-top: 24px;
  }

  a {
    margin-top: 30px;
    padding: 12px 39px;
    background: var(--bg-primary);
    color: var(--text-primary);
    font-weight: 400;
    font-size: 18px;
    font-family: "Manrope", sans-serif;
    text-decoration: none;
    box-shadow: 0px 4px 74px rgba(119, 189, 136, 0.3);
    border-radius: 170px;
  }
</style>
